<section class="home">
        <div class="home-presentation">
            <h1>BudgetBuddy</h1>
        </div>

        <div class="home-sessions">
            <ul class='h-options'>
                <li class='h-login active'><%= link_to 'LOG IN', new_user_session_path %></li>
                <li class='h-singup'><%= link_to 'SIGN UP', new_user_registration_path %></li>
            </ul>
        </div>
</section>